extends ../layout/layout.survey

block left_content
	h1= title
	button(id='save_exam_on_server_btn')保存问卷
	button(id='create_exam_on_server_btn')生成问卷
	hr 
	p all 题目
	ul(id='all_qs')

block main_content
	h1= title
	div(class='create_exam')
		ul
			each item in surveys
				li
					a(href= item.static_page_name,target='_blank')= item.name