doctype html
html
	head
		title= title
		meta(name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.min.js')
	body
		block content